# Web framework
Django==4.2.16   # LTS, works with Python 3.10

# Data handling
numpy==1.23.5
pandas==1.5.3
pandas-datareader==0.10.0

# Visualization
matplotlib==3.5.3

# Machine Learning
scikit-learn==1.1.3   # last to support Python 3.10

# Database
mysqlclient==2.1.1
