{% load static %}
<!DOCTYPE html>
<html class="no-js">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="Bingo One page parallax responsive HTML Template ">
  <meta name="author" content="Themefisher.com">
  <title>Bit-Bank</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/bitcoinnetwork.png' %}" />
  <link rel="stylesheet" href="{% static 'plugins/themefisher-font.v-2/style.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/bootstrap/dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/slick-carousel/slick/slick.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/slick-carousel/slick/slick-theme.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body id="body">

  <!-- Start Preloader -->
  <div id="preloader">
    <div class="preloader">
      <div class="sk-circle1 sk-child"></div>
      <div class="sk-circle2 sk-child"></div>
      <div class="sk-circle3 sk-child"></div>
      <div class="sk-circle4 sk-child"></div>
      <div class="sk-circle5 sk-child"></div>
      <div class="sk-circle6 sk-child"></div>
      <div class="sk-circle7 sk-child"></div>
      <div class="sk-circle8 sk-child"></div>
      <div class="sk-circle9 sk-child"></div>
      <div class="sk-circle10 sk-child"></div>
      <div class="sk-circle11 sk-child"></div>
      <div class="sk-circle12 sk-child"></div>
    </div>
  </div>
  <!-- End Preloader -->

  <!-- Fixed Navigation -->
  <section class="header navigation">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-expand-md">
            <a class="navbar-brand" href="#">
              <h3>{Admin}</h3> &nbsp; Cryptocurrency Price Analysis With Artificial Intelligence
            </a>
            <button class="navbar-toggler" type="button" value="Admin" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="tf-ion-android-menu"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item "><a class="nav-link" href="{% url 'admins:viewusers' %}">Users</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'admins:viewagents' %}">Agents</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'admins:AdminGetLedger' %}">BitBlock</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </section>

 <!-- Upload Dataset Button (Single Click Opens File Dialog) -->
<section style="padding: 20px 0; text-align: center; background-color: #f7f7f7;">
  <form id="uploadForm" action="{% url 'admins:upload_dataset' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" id="fileInput" name="dataset" style="display:none;" onchange="document.getElementById('uploadForm').submit();">
    <button type="button" class="btn btn-primary" onclick="document.getElementById('fileInput').click();">
      <i class="tf-ion-android-upload"></i> Upload Dataset
    </button>
  </form>
</section>


  <!-- ✅ End Upload Button Section -->

  {% block contents %}
  {% endblock %}

  <!-- Blog Section -->
  <section class="blog section" id="blog">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="title text-center">
            <h4>Our untold story</h4>
            <h2>Bitcoin Knowledge Base.</h2>
            <span class="border"></span>
            <p>As for the LSTM model, it has a comparable performance with the ANN model in general, when predicting
              the one-day future prices of these cryptocurrencies...</p>
          </div>
        </div>
      </div>

      <!-- Blog posts remain unchanged -->
      <div class="row">
        <article class="col-12 col-md-6">
          <div class="post-item">
            <div class="post-thumb">
              <img class="img-fluid shadow rounded" src="{% static 'images/blog/post-1.jpg' %}"
                alt="Generic placeholder image">
            </div>
            <div class="post-title">
              <h3 class="mt-0"><a href="">Ten things about Business</a></h3>
            </div>
            <div class="post-meta">
              <span>By</span> <a href="" class="">Wang Yiying</a>
            </div>
            <div class="post-content">
              <p>Nowadays, investing in cryptocurrencies...</p>
            </div>
          </div>
        </article>

        <article class="col-12 col-md-6">
          <div class="post-item">
            <div class="post-thumb">
              <img class="img-fluid shadow rounded" src="{% static 'images/blog/post-2.jpg' %}"
                alt="Generic placeholder image">
            </div>
            <div class="post-title">
              <h3 class="mt-0"><a href="">Something I need to tell you</a></h3>
            </div>
            <div class="post-meta">
              <ul class="list-inline">
                <li class="list-inline-item"><span>By</span> <a href="" class="">Zang Yeze</a></li>
                <li class="list-inline-item"><span>By</span> <span>978-1-7281-3430-7/19/$31.00 ©2019 IEEE</span></li>
              </ul>
            </div>
            <div class="post-content">
              <p>Cryptocurrency is the peer-to-peer digital money...</p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>

  <!-- Call To Action -->
  <section class="call-to-action section-sm">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Open account for free and start trading Bitcoins now!</h2>
          <p>The price data comprised of four elements namely opening, high, low, closing prices...</p>
          <a href="" class="btn btn-main">Get Started</a>
        </div>
      </div>
    </div>
  </section>

  <footer id="footer" class="bg-one">
    <div class="footer-bottom">
      <h5>Copyright 2019. All Rights Reserved.</h5>
      <h6>Design and Developed by <a href="">Alex Hales</a></h6>
    </div>
  </footer>

  <script src="{% static 'plugins/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'plugins/bootstrap/dist/js/popper.min.js' %}"></script>
  <script src="{% static 'plugins/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'plugins/slick-carousel/slick/slick.min.js' %}"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{% static 'plugins/smooth-scroll/dist/js/smooth-scroll.min.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
  <script src="{% static 'js/script.js' %}"></script>
  <script src="{% static 'js/state.js' %}"></script>

</body>
</html>
